version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Rohit@123
      MYSQL_DATABASE: minicloud
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: Rohit@123
    ports:
      - "8081:80"
    depends_on:
      - mysql
volumes:
  mysql-data:
  minio-data:
